.s-banner-corretor{
    background-image: url("../images/banner-corretor-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    min-height: 700px;
    margin-top: -105px;

}

.s-banner-corretor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    opacity: 0.6;
    z-index: -1;
    margin-top: -105px;
}

.area-corretor{
    width: 202px;
    height: 15px;
    background-color: blue;
}

.header{
    height: 105px;
}





.container{
    max-width: 1100px;
    width: 100%;

}
/* TAMANHO DAS FONTES
 */

 .fs-14 {font-size: 14px;}
 .fs-15 {font-size: 15px;}
 .fs-16 {font-size: 16px;}
 .fs-18 {font-size: 18px;}
 .fs-20 {font-size: 20px;}
 .fs-24 {font-size: 24px;}
 .fs-32 {font-size: 32px;}
 .fs-48 {font-size: 48px;}
 

 /* Max Width */
 .mxw-50{
     max-width: 50px;
 }
 .mxw-100{
     max-width: 100px;
 }
 .mxw-150{
     max-width: 150px;
 }
 .mxw-200{
     max-width: 200px;
 }
 .mxw-250{
     max-width: 250px;
 }
 .mxw-300{
     max-width: 300px;
 }
 .mxw-350{
     max-width: 350px;
 }
 .mxw-400{
     max-width: 400px;
 }
 .mxw-450{
     max-width: 450px;
 }
 .mxw-500{
     max-width: 500px;
 }
 .mxw-550{
     max-width: 550px;
 }
 .mxw-600{
     max-width: 600px;
 }
 .mxw-650{
     max-width: 650px;
 }
 .mxw-700{
     max-width: 700px;
 }
 .mxw-750{
     max-width: 750px;
 }
 .mxw-800{
     max-width: 800px;
 }
 .mxw-850{
     max-width: 850px;
 }
 .mxw-900{
     max-width: 900px;
 }
 .mxw-950{
     max-width: 950px;
 }
 

 @media (max-width: 991px){
    h1,.h1{
        font-size: 44px;
        }
        h2 .h2{
        font-size: 28px;
        }
        h3, .h3{
        font-size: 20px;
        }
}

@media (max-width: 767px){
    h1,.h1{
        font-size: 40px;
        }
        h2 .h2{
        font-size: 24px;
        }
        h3, .h3{
        font-size: 18px;
        }
}

@media (max-width: 575px){
    h1,.h1{
        font-size: 36px;
        }
        h2 .h2{
        font-size: 20px;
        }
}
