.s-banner-oportunidades{
    background-image: url("../images/banner-jsimoes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    min-height: 700px;

}

.home-oportunidades{
    width: 130px;
    height: 15px;
    background-color: blue;
}

.azul{
    position: absolute;
    bottom: 114px;
    left: 11px;
}

.linha{
    width: 53px;
    height: 2px;
}

.s-banner-oportunidades::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    opacity: 0.6;
    z-index: -1;
}

.faz{
    margin-left: -10px;
}
