.s-banner-empreendimentos{
    background-image: url("../images/banner-smart.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    min-height: 700px;
    margin-top: -105px;

}

.s-banner-empreendimentos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    opacity: 0.6;
    z-index: -1;
    margin-top: -105px;
}

.area-empreendimentos{
    width: 202px;
    height: 15px;
    background-color: blue;
}

.header{
    height: 105px;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
   
}
