.s-banner-campanhas{
    background-image: url("../images/banner-jsimoes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    min-height: 700px;

}

.s-banner-smart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    opacity: 0.6;
    z-index: -1;
}

.home-campanhas{
    width: 202px;
    height: 15px;
    background-color: blueviolet;
}

.faz{
    left: 30px;
    bottom: 16px;
    margin-left: -10px;
    z-index: -1;
    cursor: pointer;
}
